/* src/components/Button.css */
.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .custom-button:hover {
    background-color: #ddd;
    transform: scale(1.05);
  }
  